/* be warned: gross, unformatted, unedited css ahead */
/* i finished this in about 45 minutes on a saturday morning, cut some credit */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px 20px 250px;
    color: #E5E7EB;
}

footer {
    justify-content: center;
    height: 250px;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    font-weight: 300;
}

.brand>h1 {
    font-size: 24px;
    color: #F4FAF8;
    font-weight: 900;
}

.section.hero {
    background-color: #1F2937;
    padding: 0 250px 0 250px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

.hero>.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    width: 40%;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a7a7a;
    color:#F4FAF8;
    height: 60%;
    width: 40%;
}

.intro>h2 {
    font-size: 48px;
    font-family: 'Roboto Black', sans-serif;
    color: #F9FAF8;
}

.intro>p {
    font-size: 18px;
    line-height: 20px;
    color: #E5E7EB;
    width: 80%;
}

header>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
    width: 30%;
}

.section {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    gap: 20px;
}

.info>h3 {
    font-size: 24px;
    font-weight: 900;
}

.btn {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    gap: 10px;
}

.card>.img {
    border: 2px solid #3882F6;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
}

.quote>blockquote>p:first-of-type {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 25px 350px 25px 350px;
}

.quote>blockquote>p:last-of-type {
    text-align: right;
    padding: 5px 350px 5px 350px;
    font-weight: 600;
}

.cta {
    background-color: #3882F6;
    color: #F4FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
    width: 55%;
}

.cta>div {
    display: flex;
    flex-direction: column;
}

.btn.outline {
    border: 2px solid #F4FAF8;
}